@using Sandbox;
@using Sandbox.UI;
@using TTT.UI;
@using System;
@using System.Collections.Generic;
@using System.Linq;

@namespace TTT.UI.GameMenu

@attribute [StyleSheet]
@inherits Panel

<root style="flex-direction: column;">

    <div class="navbar">
        <div class="left">
            <a class="button" href="/"> Home </a>
            <span class="block">&gt;</span>
            <span class="block">Settings</span>
        </div>
        <div class="right">
            
        </div>
    </div>

    <section class="scroll">
        <div class="form">
            <Label>The legacy settings menu uses removed s&box menu APIs and still needs a dedicated migration pass.</Label>
        </div>
    </section>
    
    <div class="navbar">
    
        <div class="left">
            <span class="button primary" onclick="@RestoreDefaults">Restore Defaults</span>
        </div>

        <div class="right">
            
            <span class="button primary" onclick="@SaveChanges">Save Changes</span>
        </div>

    </div>

</root>

@code
{
    [CascadingParameter]
    public Package GamePackage { get; set; }   


    public void CancelChanges() { }
    public void RestoreDefaults() { }
    public void SaveChanges() { }

}
