@using System
@using Sandbox;
@using Sandbox.UI;
@using System.Threading.Tasks;

@namespace TTT.UI.GameMenu

@attribute [StyleSheet]
@inherits Panel

<root class="gamemainmenu">
    <div class="navigator-canvas">
        <FrontPage />
    </div>
</root>

@code
{
    public Menu()
    {
        BindClass( "ingame", () => Game.InGame );
        BindClass( "inlobby", () => false );
    }
}
