@using Sandbox.UI;
@using TTT.UI;

@namespace TTT.UI
@using Sandbox.UI;
@inherits Panel

<root>
    <div>
        <div style="flex-shrink: 0; width: 60%; flex-direction: column;">
            <span>Dynamic</span>
            <Checkbox Value:bind=@IsDynamic />
            <br />

            <span>Show Dot</span>
            <Checkbox Value:bind=@ShowDot />
            <br />

            <span>Show Top</span>
            <Checkbox Value:bind=@ShowTop />
            <br />

            <span>Size</span>
            <Sandbox.UI.TextEntry Value="@($"{Size:0}")" Disabled=@true />
            <br />

            <span>Thickness</span>
            <Sandbox.UI.TextEntry Value="@($"{Thickness:0}")" Disabled=@true />
            <br />

            <span>Gap</span>
            <Sandbox.UI.TextEntry Value="@($"{Gap:0}")" Disabled=@true />
            <br />

            <button class="alt" icon="save" @onclick=@SaveCrosshairData>Save Crosshair</button>
            <br />
        </div>

        <div style="width: 40%; justify-content: center;">
            <ColorEditor Value:bind=@CurrentColor />
        </div>
    </div>
</root>

<style>
    CrosshairPage {
        flex-direction: column;
        width: 100%;

        text {
            font-size: 16px;
        }

        text,
        slider,
        ColorEditor {
            flex-shrink: 0;
        }
    }
</style>
