@using TTT;
@using Sandbox;
@using System;
@using System.Linq;

@namespace TTT.UI
@using Sandbox.UI;
@inherits Panel

<root class="background-color-primary rounded-top text-shadow">
    <img src="/ui/cigarlounge-logo.png" class="logo rounded" />
    <div class="server-information">
        <span class="title">TTT</span>
        <span class="url">github.com/CigarLounge/sbox-TTT</span>
    </div>
    <div class="server-data">
        <text style="font-weight: bold;">@Game.ActiveScene?.Title</text>
        <text>@($"{Connection.All.Count()} Players")</text>
        @{
            var roundsRemaining = TTT.GameManager.RoundLimit - (TTT.GameManager.Instance?.TotalRoundsPlayed ?? 0);
            var suffix = roundsRemaining == 1 ? "round" : "rounds";
            var timeLeft = TTT.GameManager.Instance?.TimeUntilMapSwitch.Relative ?? 0;
            var timer = timeLeft < 0 ? "00:00:00" : TimeSpan.FromSeconds( timeLeft ).ToString( @"hh\:mm\:ss" );
            <text>@($"Map will change in {roundsRemaining} {suffix} or in {timer}")</text>
        }
    </div>
</root>

@code {
    protected override int BuildHash()
	{
		return HashCode.Combine(
            Connection.All.Count(),
            TTT.GameManager.RoundLimit,
            TTT.GameManager.Instance?.TotalRoundsPlayed,
            TTT.GameManager.Instance?.TimeUntilMapSwitch.ToString()
        );
	}
}

<style>
    ScoreboardInfo {
        flex-direction: row;
        max-height: 100px;
        justify-content: space-between;
        padding: 15;
        flex-shrink: 0;
        align-items: center;

        .logo {
            background-repeat: no-repeat;
            background-size: cover;
            width: 75px;
            height: 75px;
        }

        .server-information {
            flex-grow: 1;
            flex-direction: column;
            padding: 5px;

            .title {
                font-size: 30px;
                font-weight: bolder;
                bottom: -10px;
            }

            .url {
                font-weight: 300;
                font-size: 15px;
            }
        }

        .server-data {
            flex-direction: column;
            align-items: flex-end;
            font-weight: 300;
            font-size: 15px;
        }
    }
</style>
