@using Sandbox;
@using Sandbox.UI;
@using System;
@using System.Linq;
@using System.Threading.Tasks;

@namespace TTT.UI.GameMenu
@using Sandbox.UI;
@inherits Panel

@attribute [StyleSheet]

<root style="flex-direction: column;">

    <div class="game-title">
        TTT
    </div>

    <div class="controls">
        <div class="button disabled">Legacy menu migration in progress</div>
        <div class="button disabled">Create Game unavailable</div>
        <div class="button disabled">Settings unavailable</div>

        <span style="height: 20px;"></span>

        <a class="button" @onclick=@Game.Close>Quit</a>

    </div>

</root>

@code
{
    public Task OnClickCreateGame() => Task.CompletedTask;
    void LeaveGame() { }
}

