{
  "Version": 2,
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "interactable": "Unset",
    "player": "Unset",
    "glass": "Unset",
    "debris": "Ignore"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "solid",
      "b": "trigger",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "interactable",
      "b": "interactable",
      "r": "Collide"
    },
    {
      "a": "interactable",
      "b": "player",
      "r": "Trigger"
    },
    {
      "a": "player",
      "b": "glass",
      "r": "Trigger"
    },
    {
      "a": "trigger",
      "b": "glass",
      "r": "Ignore"
    },
    {
      "a": "glass",
      "b": "glass",
      "r": "Ignore"
    },
    {
      "a": "solid",
      "b": "debris",
      "r": "Collide"
    },
    {
      "a": "player",
      "b": "debris",
      "r": "Ignore"
    },
    {
      "a": "glass",
      "b": "debris",
      "r": "Trigger"
    }
  ],
  "__guid": "f5a6b682-34c9-470b-bada-6a2c07dfe4c4",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 2
}