{
  "Actions": [
    {
      "Name": "forward",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "W",
      "GamepadCode": "None"
    },
    {
      "Name": "backward",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "S",
      "GamepadCode": "None"
    },
    {
      "Name": "left",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "A",
      "GamepadCode": "None"
    },
    {
      "Name": "right",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "D",
      "GamepadCode": "None"
    },
    {
      "Name": "jump",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "space",
      "GamepadCode": "A"
    },
    {
      "Name": "run",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "shift",
      "GamepadCode": "LeftJoystickButton"
    },
    {
      "Name": "walk",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "alt",
      "GamepadCode": "None"
    },
    {
      "Name": "duck",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "ctrl",
      "GamepadCode": "B"
    },
    {
      "Name": "attack1",
      "GroupName": "Actions",
      "Title": null,
      "KeyboardCode": "mouse1",
      "GamepadCode": "RightTrigger"
    },
    {
      "Name": "attack2",
      "GroupName": "Actions",
      "Title": null,
      "KeyboardCode": "mouse2",
      "GamepadCode": "LeftTrigger"
    },
    {
      "Name": "reload",
      "GroupName": "Actions",
      "Title": null,
      "KeyboardCode": "r",
      "GamepadCode": "X"
    },
    {
      "Name": "use",
      "GroupName": "Actions",
      "Title": null,
      "KeyboardCode": "e",
      "GamepadCode": "Y"
    },
    {
      "Name": "slot1",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "1",
      "GamepadCode": "DpadWest"
    },
    {
      "Name": "slot2",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "2",
      "GamepadCode": "DpadEast"
    },
    {
      "Name": "slot3",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "3",
      "GamepadCode": "DpadSouth"
    },
    {
      "Name": "slot4",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "4",
      "GamepadCode": "None"
    },
    {
      "Name": "slot5",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "5",
      "GamepadCode": "None"
    },
    {
      "Name": "slot6",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "6",
      "GamepadCode": "None"
    },
    {
      "Name": "slot7",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "7",
      "GamepadCode": "None"
    },
    {
      "Name": "slot8",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "8",
      "GamepadCode": "None"
    },
    {
      "Name": "slot9",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "9",
      "GamepadCode": "None"
    },
    {
      "Name": "slot0",
      "GroupName": "Inventory",
      "Title": null,
      "KeyboardCode": "0",
      "GamepadCode": "None"
    },
    {
      "Name": "view",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "C",
      "GamepadCode": "RightJoystickButton"
    },
    {
      "Name": "voice",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "v",
      "GamepadCode": "RightJoystickButton"
    },
    {
      "Name": "drop",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "g",
      "GamepadCode": "RightJoystickButton"
    },
    {
      "Name": "flashlight",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "f",
      "GamepadCode": "DpadNorth"
    },
    {
      "Name": "score",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "tab",
      "GamepadCode": "SwitchLeftMenu"
    },
    {
      "Name": "menu",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "Q",
      "GamepadCode": "SwitchRightMenu"
    },
    {
      "Name": "chat",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "enter",
      "GamepadCode": "None"
    },
    {
      "Name": "zoom",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "MOUSE3",
      "GamepadCode": "None"
    }
  ],
  "__guid": "c98af5fd-0568-48b2-9ef4-4fff6d457b26",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}