@using Sandbox;
@using Sandbox.UI;
@using TTT.UI;
@using System;
@using System.Collections.Generic;

@namespace TTT.UI.GameMenu

@attribute [StyleSheet]
@inherits Panel

<root class="creategamepage layout">
	<div class="navbar">
		<div class="left">
			<span class="block">Create Game</span>
		</div>
	</div>

	<div class="body columned">
		<div class="form settings scroll">
			<div class="form-group">
				<label class="setting-name">Legacy create-game flow has not been migrated to the new menu API yet.</label>
			</div>
		</div>
	</div>

</root>

@code
{
	public List<Package> Addons { get; set; } = new();

	public void StartGame() { }
	void OnMapClicked() { }
	void OnMapSelected(Package map) { }
	void OnAddonClicked() { }
	void OnAddonSelected(Package addon) { }

	public override void Tick()
	{
		base.Tick();

		if (!IsVisible)
			return;
	}
}
