@using System;
@using Sandbox;
@inherits Sandbox.UI.WorldPanel
@namespace TTT.UI

<root>
    <text>
        <span>@((int)_healthStation.StoredHealth)</span>
    </text>
</root>

@code {
    private readonly HealthStationEntity _healthStation;
    public HealthStationCharges(HealthStationEntity healthStation) : base(Sandbox.Game.ActiveScene.SceneWorld) => _healthStation = healthStation;
    public override void Tick()
    {
        var renderer = _healthStation.Components.Get<ModelRenderer>( FindMode.EverythingInSelfAndChildren );
        var attachment = renderer?.GetAttachmentObject( "charges" );
        if ( attachment is not null )
            Transform = attachment.WorldTransform;
    }
    protected override int BuildHash() => HashCode.Combine(_healthStation.StoredHealth);
}

<style>
    HealthStationCharges {
        text-align: center;
        color: #2f6a7f;
        font-size: 18px;
        align-items: center;
        justify-content: center;
        font-family: 'Poppins';
        font-weight: bold;
    }
</style>
